.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
.zoom2 {
  transition: transform 0.2s;
}
.zoom2:hover {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}